<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Productos agregados hasta el momento</h2>
    <p>
    {{#each product}}
    <tr>
    <li>Titulo: {{this.title}}</li>
    <ul>ID: {{this.id}}</ul>
    <ul>Descripción: {{this.description}}</ul>
    <ul>Codigo: {{this.code}}</ul>
    <ul>Stock: {{this.stock}}</ul>
    {{/each}}
    </tr>
    </p>
    <a href="/chat">Chat</a>
</body>
</html>